---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>


33. Lu, H., Zhao., W., Fu, Y., Ma, S., Lu, Z., Yang, R., Ding, Z. and Shi, C.* Enhancing Anti-carbonation Properties of Oil Well Cement Slurry through Nanoparticle and Cellulose Fiber Synergy. Construction and Building Materials, Vol. 450, 138578.
32. Shi, J., Zhong, X., Lu, H., Ni, X. and Shi, C.* 2024. Influence of joint stiffness on three-dimensional deformation mechanisms of pipelines under tunnel active face instability. Canadian Geotechnical Journal, in press.
31. Khajehzadeh, M., Keawsawasvong, S., Kamchoom, V., Shi, C. and Khajehzadeh, A., 2024. Developing an effective optimized machine learning approaches for settlement prediction of shallow foundation. Heliyon. 
30. Qian, Z. and Shi, C.* 2024. Prior geological knowledge enhanced markov random field for development of geological cross-sections from sparse data. Computers and Geotechnics, 173, p.106587.
29. Shi, J., Chen, Y., Kong, G., Lu., H., Chen, G. and Shi, C. 2024. Deformation mechanisms of an existing pipeline due to progressively passive instability of tunnel face: physical and numerical investigations. Tunelling and Underground Space Technology, 150, p.105822.
28. Chen, W., Ding, J., Shi, C., Wang, T. and Connoly, D. 2024. Geotechnical correlation field-informed and data-driven prediction of spatially varying geotechnical properties. Computers and Geotechnics, 171, p. 106407.
27.	Lyu, B, Wang, Y. and Shi, C. 2024. Multi-scale generative adversarial networks for generation of three-dimensional subsurface geological models from limited boreholes and prior geological knowledge. Computers and Geotechnics, 170, p.106336. 
26.	Cui, S., Zhou, C., Shi, C. and Lu, H. 2024. Thermo-mecahnical behavior of energy piles with different roughness values in unsaturated soil. Journal of Geotechnical and Geoenvironmental Engineering, 150 (5), p.04024035.
25.	Shi, C., Wang, Y. and Kamchoom, V. 2023. Data-driven Multi-stage Sampling Strategy for a Three-dimensional Geological Domain using Weighted Centroidal Voronoi Tessellation and IC-XGBoost3D. Engineering Geology, 325, p. 107301.
24.	Lu, H., Shi, J., Shi, C.,* Pei, W. and Chen, S. 2023. Assessment of Twin Tunnelling Induced Settlement and Load Transfer Mechanism of a Single Pile in Dry Sand. Canadian Geotechnical Journal, 61 (5), 1004-1017. 
23.	Shi, C.*, Jin, Y., Lu, H. and Shi, J. 2023. A BIM-based Framework for Automatic Numerical Modelling and Geotechnical Analyisis of a Large-scale Deep Excavation for Transportation Infrastructures. Intelligent Transportation Infrastructure, 2, p.liad012. 	
22.	Shi, J.,  Wang, J., Chen, Y., Shi, C. et al. 2023. Physical Modeling of the Influence of Tunnel Active Face Instability on Existing Pipelines. Tunnelling and Underground Space Technology, 140, 105281.
21.	Lu, H., Yu, R., Shi, C.*, Pei, W. 2023.Field Investigation and Numerical Study of Ground Movement Due to Pipe Pile Wall Installation in Reclaimed Land. Geomechanics and Engineering, 34 (4), 397-408.
20.	Borui Lyu, Wang, Y., Shi, C. and Hu, Y. 2023.Non-parametric Simulation of Random Field Samples from Incomplete Measurements using Generative Adversarial Networks. Georisk, 18 (1), 60-84.
19.	Shi, C. and Wang, Y. 2023. Development of training image database for subsurface stratigraphy. Georisk, 12(1), 23-40.
18.	Shi, C. and Wang, Y. 2023. Data-driven Spatio-temporal Analysis of Consolidation for Rapid Reclamation. Geotechnique, 74(7), 676-696.
17.	Shi, C. and Wang, Y. 2022. Machine learning of three-dimensional subsurface geological model for a reclamation site in Hong Kong. Bulletin of Engineering Geology and the Environment, 81(12), p.504.
16.	Shi, C. and Wang, Y. 2022. Data-driven sequential development of geological cross-section along tunnel trajectory. Acta Geotechnica, 18, 1739–1754.
15.	Shi, C. and Wang, Y. 2022. Stochastic analysis of load transfer mechanism of energy piles by random finite difference model. Journal of Rock Mechanics and Geotechnical Engineering, 15(4), 997-1010.
14.	Shi, C. and Wang, Y. 2022. Data-driven digital twin construction of subsurface three-dimensional geological domain from training images and limited site-specific boreholes using IC-XGBoost3D. Tunnelling and Underground Space Technology, 126, p.104493.
13.	Wang, Y., Shi, C.* and Li, X. 2022. Machine learning of geological details from borehole logs for development of high-resolution subsurface geological cross-section and geotechnical analysis. Georisk, 16(1): 2-20.
12.	Shi, C. and Wang, Y. 2022. Assessment of reclamation-induced consolidation settlement considering stratigraphic uncertainty and spatial variability of soil properties. Canadian Geotechnical Journal, 59(7): 1215-1230.
11.	Shi, J., Wei, J., Ng, C. W. W., Ma, S. K., Shi, C. and Li, P. 2022. Effects of construction sequence of double basement excavations on an existing floating pile. Tunnelling and Underground Space Technology, 119, 104230.
10.	Shi, C. and Wang, Y. 2021. Non-parametric and data-driven interpolation of subsurface soil stratigraphy from limited data using multiple point statistics. Canadian Geotechnical Journal, 58(2): 261-280.
9.	Shi, C. and Wang, Y. 2021. Non-parametric machine learning methods for interpolation of spatially varying non-stationary and non-Gaussian geotechnical properties. Geoscience Frontier, 12(1): 339-350.
8. 	Shi, C. and Wang, Y. 2021. Smart Determination of Borehole Number and Locations for Stability Analysis of Multi-layered Slopes using Multiple Point Statistics and Information Entropy. Canadian Geotechnical Journal, 58(11):1669-1689.
7.	Shi, C. and Wang, Y. 2021. Development of Subsurface Geological Cross-section from limited site-specific boreholes and prior geological knowledge using iterative convolution XGBoost. Journal of Geotechnical and Geoenvironmental Engineering, 147(9), 04021082.
6.	Shi, C. and Wang, Y. 2021. Training image selection for development of subsurface geological cross-section, Engineering Geology, 295(20), 106415.
5.	Shi, C. and Zhuang, X. 2019. A study concerning soft computing approaches for stock price forecasting. Axioms, 8(4): 116.
4.	Ng, C. W. W., Gunawan, A., Shi, C. and Ma, Q. J. 2015. Centrifuge modelling of displacement and replacement energy piles constructed in saturated sand: a comparative study.  Geotechnique letter, 6(1): 34-38.
3.	Rotta Loria, A. F., Gunawan, A., Shi, C., Laloui, L. and Ng, C. W. W. 2015. Numerical modelling of energy piles in saturated sand. Geomechanics for Energy and the Environment. Volume 1, pp: 1–15.
2.	Ng, C. W. W., Shi, C. *, Gunawan, A., Laloui, L and Liu, H. L. 2014. Centrifuge modelling of heating effects on energy pile performance in saturated sand. Canadian Geotechnical Journal, 52(8): 1045-1057.
1.	Ng, C. W. W., Shi, C. *, Gunawan, A. and Laloui, L. 2014. Centrifuge modelling of energy pile subjected to heating and cooling cycles in clay. Geotechnique letter, 4(4): 310-316.
